{% extends "fenixedu-learning-theme/base.html" %}

{% macro row(label, value) %}
	{% if value is not empty %}
		<li><strong>{{ i18n('resources.PublicDegreeInformation', label) }}:</strong>&nbsp;{{ value }}</li>
	{% endif %}
{% endmacro %}

{% block content %}

    <h3>{{ year }}</h3>

	<!-- COURSE NAME -->
	<h1>{{ degree.phdProgram is empty ? degree.presentationName : degree.phdProgram.presentationName }}</h1>

	{% if degreeInfo is not empty %}
		<!-- TEST REQUIREMENTS -->
		{% if degreeInfo_testIngression is not empty and degreeInfo_testIngression.content is not empty %}
			<h2>{{ i18n('resources.PublicDegreeInformation', 'public.degree.information.label.testRequirements') }}</h2>
			<p>{{ degreeInfo_testIngression.content | raw }}</p>
		{% endif %}
	  
		<!-- CLASSIFICATIONS -->
		{% if degreeInfo_classifications is not empty and degreeInfo_classifications.content is not empty %}
			<h2>{{ i18n('resources.PublicDegreeInformation', 'public.degree.information.label.minimumScores') }}</h2>
			<p>{{ degreeInfo_classifications.content | raw }}</p>
		{% endif %} 	

		<!-- ACCESS REQUISITES -->
		{% if degreeInfo_accessRequisites is not empty and degreeInfo_accessRequisites.content is not empty%}
			<h2>{{ i18n('resources.PublicDegreeInformation', 'public.degree.information.label.accessRequisites') }}</h2>
			<p>{{ degreeInfo_accessRequisites.content | raw }}</p>
		{% endif %}

		<!-- CANDIDACY DOCUMENTS -->
		{% if degreeInfo_candidacyDocuments is not empty and degreeInfo_candidacyDocuments.content is not empty %}
			<h2>{{ i18n('resources.PublicDegreeInformation', 'public.degree.information.label.candidacyDocuments') }}</h2>
			<p>{{ degreeInfo_candidacyDocuments.content | raw }}</p>
		{% endif %} 

		<!-- DRIFTS -->
		{% if degreeInfo_driftsInitial is not empty %}
			<h2>{{ i18n('resources.PublicDegreeInformation', 'public.degree.information.label.availableSpaces') }}</h2>
			<ul>
				{{ row('public.degree.information.label.total', degreeInfo_driftsInitial) }}
				{{ row('public.degree.information.label.filledPhase1', degreeInfo_driftsFirst) }}
				{{ row('public.degree.information.label.filledPhase2', degreeInfo_driftsSecond) }}
			</ul>			
		{% endif %}

	 	<!-- MARKS -->
	 	{% if degreeInfo_markAverage is not empty %}
			<h2>{{ i18n('resources.PublicDegreeInformation', 'public.degree.information.label.entranceMarks') }}:</h2>
			<ul>
				{{ row('public.degree.information.label.average', degreeInfo_markAverage) }}
				{{ row('public.degree.information.label.minimum', degreeInfo_markMin) }}
				{{ row('public.degree.information.label.maximum', degreeInfo_markMax) }}
			</ul>			
		{% endif %}
		
		{% if degreeInfo_testIngression is empty and degreeInfo_classifications is empty and degreeInfo_acessRequisites is empty  and degreeInfo_markMin is empty
			and degreeInfo_candidacyDocuments is empty and degreeInfo_driftsInitial is empty and degreeInfo_driftsSecond is empty and degreeInfo_markAverage is empty and degreeInfo_markMax is empty %}
			<p><i>{{ i18n('resources.PublicDegreeInformation', 'not.available') }}:</i></p>
		{% endif %}

	{% else %}
		<p><em>{{ i18n('resources.Default', 'error.public.DegreeInfoNotPresent') }}</em></p>
	{% endif %}

{% endblock content %}
