{% extends "fenixedu-learning-theme/base.html" %}

{% import "fenixedu-learning-theme/personCard.html" %}

{% macro deadline(key, description) %}
	 {% if description is not empty %}
	 	<tr>
			<td>
				<p>	{{ i18n('resources.PublicDegreeInformation',key) }} 
					<em>
						{{ description.content | raw }}
					</em>
				</p>
			</td>
		</tr>
	 {% endif %}
{% endmacro %}


{% macro titleRow(key) %}
	<tr>
 		<td>
			<strong>{{ i18n('resources.PublicDegreeInformation',key) }}</strong>
       	</td>
	</tr>
{% endmacro %}

{% macro descriptionSection(key, localizedContent) %}
	 {% if (localizedContent is not empty) and (localizedContent.isEmpty equals false) %}
	 	<h3 style="font-weight:300; margin-bottom: 30px; margin-top:45px;">
          {{ i18n('resources.PublicDegreeInformation',key) }}</h3>
		<p>{{ localizedContent.content | raw }}</p>
	 {% endif %}
{% endmacro %}

{% block contentTitle %}{% endblock contentTitle %}

{% block titleLink %}
  <a style="padding-left:20px; font-size:15px; color:#009EE2; font-weight:300" href="#" data-toggle="modal" data-target="#myModal">+ Info</a>
{% endblock titleLink %}

{% block content %}

<h3>{{ year }}</h3>

{% if degreeInfo is null %}
	<p><em> {{ i18n('resources.ApplicationResources','error.public.DegreeInfoNotPresent') }}</em></p>
{% else %}
		<!-- ANNOUNCEMENTS and DEADLINES -->
		{% set deadlines =  degreeInfo_schoolCalendar is not empty or
							degreeInfo_candidacyPeriod is not empty or
							degreeInfo_selectionResultDeadline is not empty or
							degreeInfo_enrolmentPeriod is not empty %}
		{% if deadlines or announcements is not empty or degreeInfo_additionalInfo is not empty or degreeInfo_links is not empty %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Mais Informação</h4>
      </div>
      <div class="modal-body">
                  <table cellspacing="0">
            {% if announcements is not empty %}
              {{ titleRow('public.degree.information.label.latestAnnouncements') }}
          <tr>
                      <td>
                        {% for announcement in announcements %}
                          <p style="padding-bottom: 0.9em;">
                            {{ announcement.modificationDate | formatDate('dd-MM-yyyy') }}
                            <br/>
                            <a href="{{ announcement.address }}">{{ announcement.name.content }}</a>
                                </p>
                        {% endfor %}
                            <p>
                              <a href="{{ announcementsPage }}">{{ i18n('resources.PublicDegreeInformation','public.degree.information.label.latestAnnouncements.showAll') }}</a>
                          </p>
                      </td>
                  </tr>
            {% endif %}
            {% if deadlines %}
              {{ titleRow('public.degree.information.label.deadlines') }}
        {% endif %}
        {{ deadline('public.degree.information.label.schoolCalendar',degreeInfo_schoolCalendar) }}
        {{ deadline('public.degree.information.label.candidacyPeriod', degreeInfo_candidacyPeriod) }}
        {{ deadline('public.degree.information.label.selectionResultDeadline'. degreeInfo_selectionResultDeadline) }}
        {{ deadline('public.degree.information.label.enrolmentPeriod',degreeInfo_enrolmentPeriod) }}
            {% if degreeInfo_additionalInfo is not empty %}
              {{ titleRow('public.degree.information.label.additionalInfo') }}
          <tr>
                <td>
                  {{ degreeInfo_additionalInfo.content | raw}}
            </td>
          </tr>
        {% endif %}
            {% if degreeInfo_links is not empty and degreeInfo_links.content is not empty %}
              {{ titleRow('public.degree.information.label.links') }}
          <tr>
                <td>
                  {{ degreeInfo_links.content | raw }}
            </td>
          </tr>
        {% endif %}
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n('resources.ApplicationResources', 'label.back') }}</button>
      </div>
    </div>
  </div>
</div>

		{% endif %}

		{{ descriptionSection('public.degree.information.label.overview', degreeInfo_description) }}
		{{ descriptionSection('public.degree.information.label.history', degreeInfo_history) }}
		{{ descriptionSection('public.degree.information.label.objectives', degreeInfo_objectives) }}
		{{ descriptionSection('public.degree.information.label.designedFor', degreeInfo_designedFor) }}
		{{ descriptionSection('public.degree.information.label.professionalExits', degreeInfo_professionalExits) }}
		{{ descriptionSection('public.degree.information.label.operationalRegime', degreeInfo_operationalRegime) }}
		{{ descriptionSection('public.degree.information.label.gratuity', degreeInfo_gratuity) }}
		
		
		{% if 	degreeInfo_description is empty and
				degreeInfo_history is empty and
				degreeInfo_objectives is empty and
				degreeInfo_designedFor is empty and
				degreeInfo_professionalExits is empty and
				degreeInfo_operationalRegime is empty and
				degreeInfo_gratuity is empty and
				degreeInfo_additionalInfo is empty and
				degreeInfo_links is empty and
				not deadlines %}
			<p><i>{{ i18n('resources.PublicDegreeInformation','not.available') }}</i></p>
		{% endif %}
		<!-- Button trigger modal -->

{% endif %}


<!-- COORDINATORS -->
{% if coordinators is not empty %}
	<h3 style="font-weight:300; margin-top:45px;">{{ i18n('resources.PublicDegreeInformation','public.degree.information.label.coordinators') }}</h3>
	{% for coordinator in coordinators %}
		{{ personCard(coordinator.person) }}
	{% endfor %}
{% endif %}

{% endblock content %}
